body{
    margin: 0;
}
/*index pages design*/
.wrapper{
    margin: 0;
    padding: 10px;
    background-image: linear-gradient(rgba(0,0 , 0, 0.3),rgba(0, 0, 0, 0.3)), url(../img/color-mosaic-piano.jpg);
    width: 1fr;
    height: 1fr;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 450px 50px;
    cursor: pointer;
}
/* start page design*/
.wrapper2{
    margin: 0;
    padding: 10px;
    background-image: linear-gradient(rgba(0,0 , 0, 0.3),rgba(0, 0, 0, 0.3)), url(../img/colors-wide.png);
    width: 1fr;
    height: 1fr;
    text-align: center;
    display: grid;
    grid-template-columns: 400px 600px;
    grid-template-rows: 70px  430px 50px;
    cursor: pointer;
}

/* instruction pages design*/
.wrap-inst{
    background-image: url(../img/instuctionPuzzle.jpg);
    margin: 0;
    padding: 0%;
    width: 1fr;
    height: 100vh;
}
#instruct{
    margin: 0;
    padding: 20px;
    text-align: left;
    font-size: 16px;
    color: white;
    
}
/*about pages design*/
.wrappAbout{
        margin: 0;
        padding: 50px;
        width: 1fr;
        height: 100vh;
        text-align: left;
        background-repeat: repeat;
        background-image: url(../img/aboutPiano.png);
    
}
.wrappAbout .butt{
    margin: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    
}
.wrappAbout .butt button{
    margin: 5px;
    padding: 5px;
    background-color: red ;
}
/*to creat menu bar*/
.menu{
    border: solid black;
    grid-column: 1/-1;
    margin: 0px;

}
.menu ul{
    list-style-type: none ;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #333;
}
.menu li {
  float: left;
  border-right:1px solid #bbb;
}
.menu li:last-child {
    border-right: none;
}
.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.menu a:hover{
    background-color: #111;
  }
.menu a:active{
    background-color: #4caf50;
}

.wrap{
    margin: 0 20px 0 20px;
    grid-column: 2/1;
    text-align: left;
    padding: 15px;
    
}
/*  login and welcome text*/
#welcome{
    margin: 10px;
    padding: 10px ;
    color: white;

}
/* form design in index page*/
.form{
    position: relative;
    z-index: auto;
    background-color: rgba(226, 225, 225, 0.5);
    max-width: 200px;
    margin: 0 auto 0;
    padding: 30px;
    text-align: center;

}

.form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f3f3e9;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form .button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;    
    outline: 0;
    background: #111111;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}
.form button:hover, form button:active{
    background: #43A047;

}
/*foot page design*/
.foot{
    grid-column: 2/1;
    padding: 10px;
    color: white;
    text-align: right !important;
    position: relative;
    background-color: #333;
}

.menu li a:hover:not(.active) {
    background-color: #111;
  }
.menu li a:active{
    background-color: #4caf50;
}
/* game area*/
#game{
    border: solid black;
    margin: 0 0 0 20px;
}
canvas{
    border:5px solid #000000;
    background-color:rgb(65, 65, 65) ;
}

.highs{
    border: solid black;
    grid-column: 2/2;
    margin: 0 20px 0 0;
}


