body{
    margin: 0;
}

.wrapper{
    margin: 0;
    padding: 10px;
    background-image: linear-gradient(rgba(0,0 , 0, 0.3),rgba(0, 0, 0, 0.3)), url(img\colors-wide.png);
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: grid;
    grid-template-columns: 400px 600px;
    grid-template-rows: 70px  430px 50px;
    cursor: pointer;
}
/*to creat menu bar*/
.menu{
    border: solid black;
    grid-column: 1/-1;
    margin: auto 20px;

}
.menu ul{
    list-style-type: none ;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.menu li {
  float: left;
  border-right:1px solid #bbb;
}
.menu li:last-child {
    border-right: none;
}
.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.menu li a:hover:not(.active) {
    background-color: #111;
  }
.menu li a:active{
    background-color: #4caf50;
}
/* game area*/
.game{
    border: solid black;
    grid-column: 2/1;
    margin: 0 0 0 20px;
}

.highs{
    border: solid black;
    grid-column: 2/2;
    margin: 0 20px 0 0;
}

.foot{
    margin:0 20px 0 0;
    grid-column: 3/1;
    margin: 0;
    padding: 10px;
    color: white;
    text-align: right;
    position: relative;
}